@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

$color-bronze: rgba(215,195,145,1);
$color-cream: rgba(250,250,220,1);
$color-grey: rgba(128,128,128,1);
$color-ink-blue: rgba(10,5,45,1);
$color-ivory: rgba(235,230,225,1);
$color-old-paper: rgba(255,252,250,1);
$color-papyrus: rgba(245,225,170,1);
$color-pewter: rgba(65,50,45,1);
$color-strawberry: rgba(220,40,30,1);
$color-white: rgba(255,255,255,1);
$color-wood-dark: rgba(35,20,10,1);
$line-height-multiplier: 1.5;
$margin-bottom-input-group: 0.5em;
$margin-button: 0.25em;

%flex-column {
	align-items: baseline;
	display: flex;
	flex-direction: column;
}

%flex-row {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;

	&.flex-nowrap {
		flex-wrap: nowrap;
	}
}

%link-icon {
	font-size: 1.25em;
	font-weight: 700;
	margin-right: 0.5em;
}

%nav-link {
	background-color: scale-color($color: $color-pewter, $lightness: 10%, $saturation: -10%);
	border-color: scale-color($color: $color-bronze, $saturation: -25%);
	border-radius: 20%;
	border-style: solid;
	border-width: 0.1875em;
	color: scale-color($color: $color-bronze, $saturation: -25%);
	display: block;
	font-weight: 700;
	padding: 0.25em 1.5em 0.375em 1.5em;
	position: relative;
	transition: all 500ms cubic-bezier(0, 0.875, 0.25, 1);

	&:focus, &:hover {
		background-color: $color-pewter;
		border-color: scale-color($color: $color-bronze, $lightness: -5%);
		color: scale-color($color: $color-bronze, $lightness: -5%);
		text-decoration-line: none;
	}

	&::after, &::before{
		content: '\2022';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&::after{
		right: 0.5em;
	}

	&::before{
		left: 0.5em;
	}

	&.active {
		background-color: scale-color($color: $color-bronze, $saturation: -25%);
		border-color: scale-color($color: $color-bronze, $saturation: -25%);
		color: scale-color($color: $color-pewter, $lightness: 25%, $saturation: -25%);

		&:focus, &:hover {
			background-color: scale-color($color: $color-bronze, $lightness: -5%);
			border-color: scale-color($color: $color-bronze, $lightness: -5%);
			color: $color-pewter;
		}
	}
}

%theme-dark {
	background-color: $color-wood-dark;
	background-image: url('./images/wood-dark.jpg');
	background-size: cover;
	color: $color-ivory;
}

*, *::after, *::before {
	border: none;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a {
	color: scale-color( $color: $color-bronze, $lightness: -25%, $saturation: 25%);
	text-decoration: none;

	&:hover {
		color: scale-color( $color: $color-bronze, $lightness: -50%);
		text-decoration-line: underline;
	}

	&[href^="mailto:"]::before {
		@extend %link-icon;
		content: '\2709\003A';
	}

	&[href^="tel:"]::before {
		@extend %link-icon;
		content: '\2706\003A';
	}

	> img:only-child {
		object-fit: contain;
		vertical-align: middle;
		width: 100%;
	}
}

body {
	background-attachment: fixed;
	background-color: $color-wood-dark;
	background-image: url('./images/library-dark.jpg');
	background-position: center;
	background-repeat: repeat-x;
}

button {
	background-color: $color-pewter;
	color: $color-ivory;
	cursor: pointer;
	font-family: inherit;
	font-weight: 700;
	margin: $margin-button;
	min-width: $line-height-multiplier * 1em;
	padding: 0.125em 0.375em 0.25em 0.375em;
}

fieldset {
	margin-bottom: 1em;
	padding: 0.25em;
}

form {
	background-color: $color-old-paper;
	padding: 0.75em 0.25em;

	.heading {
		align-self: center;
		text-align: center;
	}
}

@for $i from 1 through 6 {
	h#{$i} {
		font-size: 2.125em - $i * 0.125em;
		line-height: 1.25;
		padding-bottom: 1.125em - $i * 0.125em;
	}
}

hr {
	border-color: $color-bronze;
	border-style: dotted;
	border-width: 1px;
	margin: 0.5em 0;
}

html {
	box-sizing: border-box;
	color: $color-ink-blue;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: $line-height-multiplier;

	@media (min-width: 1600px) {
		font-size: 16px;
	}

	@media (min-width: 1920px) {
		font-size: 18px;
	}

	@media (min-width: 2560px) {
		font-size: 20px;
	}

	@media (min-width: 3840px) {
		font-size: 22px;
	}
}

input {
	background-color: unset;
	margin: 0 0.75em;
	max-height: $line-height-multiplier * 1.5em;

	&::placeholder {
		color: scale-color($color: $color-bronze, $lightness: -25%, $saturation: -50%);
	}

	&:first-child {
		margin-left: 0.25em;
	}

	&:last-child {
		margin-right: 0.25em;
	}

	&:not([type="submit"]) {    
		border-color: $color-wood-dark;
		border-style: dashed;
		border-width: 0 0 1px 0;
	}

	&[type="checkbox"],
	&[type="radio"] {
		margin: 0.5em;
		outline: none;
	}

	&[type="submit"] {    
		margin: $margin-button;
	}
}

legend {
	font-size: 1.25em;
	padding-bottom: 0.25em;
}

nav {
	li {
		list-style-type: none;
	}

	.#{&}-menu {
		$padding-horizontal: 2em;

		color: $color-ink-blue;
		font-weight: 700;
		position: relative;
		text-align: end;
		z-index: 0;

		> .nav-menu-header {
			border-radius: 25% 25% 0 0;
			display: block;
			min-width: 144px;
			padding: 0.75em ($padding-horizontal);
			position: relative;
			z-index: 3;

			&::before {
				background-image: url('./images/scroll-spindle-dark.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				bottom: 0;
				content: '';
				display: block;
				left: 0;
				right: 0;
				position: absolute;
				top: 0;
				z-index: -1;
			}

			&:focus ~ .nav-menu-content > *,
			&:hover ~ .nav-menu-content > * {
				transform: none;
			}
		}

		> .nav-menu-content {
			left: 50%;
			overflow: hidden;
			position: absolute;
			transform: translateX(-50%);
			transition: opacity 1s ease-in-out;
			width: 85%;
			z-index: 1;

			& > * {
				background-color: $color-papyrus;
				padding: 0.25em ($padding-horizontal / 2);

				@for $i from 1 through 16 {
					&:nth-child(#{$i}) {
						position: relative;
						transform: translateY(percentage(-$i));
						transition: transform 0.75s ease-in-out;
						z-index: 2;
					}
				}
			}
		}
	}

	.#{&}-menu:focus > .nav-menu-content > *,
	.#{&}-menu:hover > .nav-menu-content > * {
		transform: none;
	}
}

ol, ul {
	list-style-position: inside;
}

select {
	border-color: $color-bronze;
	border-style: dotted;
	border-width: 1px 0 1px 2px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.button {
	background-color: transparent;
	border-color: $color-bronze;
	border-style: solid;
	border-width: 1px;
	color: $color-bronze;
	padding: 0.25em 0.75em 0.375em 0.75em;
	position: relative;

	&:focus, &:hover {
		background-color: $color-bronze;
		border-color: $color-bronze;
		color: scale-color($color: $color-pewter, $alpha: -25%);
	}

	&-ornament {
		background-image: url(./images/filigree-bronze-wrap.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		content: '';
		min-height: 1.5em;
		min-width: 2em;
		pointer-events: none;
		z-index: 1;

		&:nth-of-type(1) {
			margin-right: -0.5em;
		}

		&:nth-of-type(2) {
			margin-left: -0.5em;
			transform: rotateZ(180deg);
		}
	}

	&-wrapper {
		display: inline-grid;
		grid-template-columns: 1fr auto 1fr;
		margin: $margin-button;

		> button {
			margin: 0;
		}
	}
}

.float-right {
	float: right;
}

.input-group, .select-group {
	align-items: center;
	display: grid;
	grid-template-columns: 8.125em auto;
	margin-bottom: $margin-bottom-input-group;

	&:not(.checkbox-group):not(.radio-group) > span:first-child {
		&::after {
			content: ':';
		}
	}

	&.checkbox-group,
	&.radio-group {
		grid-template-columns: min-content auto;

		> input {
			order: 1;
		}

		> span {
			order: 2;
		}
	}
}

.input-set {
	margin-bottom: $margin-bottom-input-group;

	> span:first-child {
		cursor: default;
		text-decoration: underline;

		&::after {
			content: ':';
		}
	}

	.input-group {
		margin-bottom: 0;
	}
}

.mw-100 {
	max-width: 100%;
}

.required {
	color: $color-strawberry;
}

.text-small {
	font-size: 0.875em;
	padding-bottom: 0.125em;
}

.toggle {
	display: inline-grid;
	grid-column-gap: 0.25em;
	grid-template-columns: auto 1fr auto;
	padding: 1em;
	place-content: center;

	&-option {
		cursor: pointer;
		margin: 0 0.25em;

		input {
			display: none;
		}
	}

	&-switch {
		background-color: $color-ivory;
		cursor: pointer;
		justify-self: center;
		margin: 0 0.25em;
		position: relative;
		width: $line-height-multiplier * 2em;

		&::after {
			background-color: $color-bronze;
			content: '';
			display: inline-block;
			height: 100%;
			outline-color: $color-bronze;
			outline-width: 2px;
			outline-style: outset;
			position: absolute;
			width: 50%;
		}

		&[data-state="1"]::after {
			right: 0;
		}
	}
}

#app-content {
	background-color: $color-white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 5% auto;
	max-width: 60em;
	padding: 0.25em;
}

#app-footer {
	@extend %flex-row;
	@extend %theme-dark;
	background-image: url('./images/wood-dark-navbar.jpg');
	margin-top: auto;
	padding: 0.25em 0.5em;

	a {
		color: $color-ivory;
	}

	address {
		@extend %flex-row;
		font-style: normal;
		width: auto;

		a {
			&:hover {
				text-decoration-line: none;

				span {
					text-decoration-line: underline;
					text-decoration-style: dotted;
				}
			}

			&:not(:last-child) {
				margin-right: 2em;
			}
		}
	}

	#copyright {
		margin-left: auto;
	}
}

#app-header {
	@extend %flex-row;
	@extend %theme-dark;
	background-image: url('./images/wood-dark-navbar.jpg');
	padding: 0.25em 0.5em;

	a {
		color: inherit;
	}

	img {
		max-height: 3rem;

		@media (min-width: 768px) {
			max-height: 3.5rem;
		}

		@media (min-width: 2560px) {
			max-height: 4rem;
		}
	}
}

#app-navigation {
	margin-left: auto;

	> .nav-list {
		text-align: end;

		> .nav-item {
			display: inline-block;
			margin: 0.25em;

			> .nav-link {
				@extend %nav-link;
			}
		}
	}
}

#app-root {
	@extend %flex-column;
	min-height: 100vh;
}

#catalogue {
	$grid-column-end-catalogue-search: 2;
	$grid-row-end-catalogue-list: 2;

	display: grid;
	grid-template-columns: max-content auto;
	grid-template-rows: auto min-content;
	min-height: 568px;

	&-list {
		@extend %flex-row;
		align-items: baseline;
		grid-column-end: -1;
		grid-column-start: $grid-column-end-catalogue-search;
		grid-row-end: $grid-row-end-catalogue-list;
		grid-row-start: 1;
		justify-content: space-evenly;
		max-width: 768px;
		min-width: 320px;
		padding: 0.25em;

		.catalogue-tile {
			margin: 0.25em;
			max-height: 192px;
			width: 128px;

			> a {
				display: flex;

				> img {
					box-shadow: 2px 2px 4px $color-grey;
				}
			}
		}
	}

	&-pagination {
		@extend %flex-row;
		grid-column-end: -1;
		grid-column-start: $grid-column-end-catalogue-search;
		grid-row: $grid-row-end-catalogue-list / span 1;
		justify-content: center;
		overflow: hidden;
		padding: 0.25em;
		text-align: center;

		> * {
			height: 1.25rem;
			margin-bottom: 0;
			margin-top: 0;
			padding: 0;
		}

		button {
			border-radius: 4px;
			width: 1.25rem;

			&:focus, &:hover {
				background-color: scale-color($color: $color-bronze, $lightness: 25%);
				color: $color-pewter;
			}

			&:first-of-type {
				border-bottom-left-radius: 50%;
				border-top-left-radius: 50%;
			}

			&:last-of-type {
				border-bottom-right-radius: 50%;
				border-top-right-radius: 50%;
			}
		}

		input[type="number"] {
			-moz-appearance: textfield;
			border: none;
			font-size: 0.875em;
			margin: 0 0.25em;
			max-width: 2em;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
  			-webkit-appearance: none;
  			margin: 0;
			}

			&:disabled {
				color: inherit;
			}

			&:first-of-type {
				background-color: scale-color($color: $color-papyrus, $lightness: 50%);
				text-align: right;
			}
		}
	}

	&-search {
		grid-column-end: $grid-column-end-catalogue-search;
		grid-column-start: 1;
		grid-row-end: -1;
		grid-row-start: 1;
		max-width: 22em;

		button, label > span {
			font-size: 0.875em;
		}
	}
}

#form-registration {
	background-image: url('./images/pen.png');
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 64px;

	@media (max-width: 411px) {
		background-image: none;
	}
}
